/*
#1 = 85b0be
#2 = 95cbdd
*/

a:hover {
	color: #118a0f;
}

/* menu */
.nav>li>a:hover {
	color: #118a0f;
}

.navbar .navbar-nav > .active > a {
	color: #084407;
	border-bottom: 4px solid green;
}

/* flexslider */
.flex-control-paging li a {
	background: #000;
}


.testimonial span.author a {
	color: #95cbdd;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #084407;
	box-shadow: 0 0 0 4px #084407;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #084407;
	box-shadow: 0 0 0 8px  #084407;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #000;
}

/* btn */
.btn-theme {
  background: #000;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #084407;
}
.btn-cta,.btn-cta.btn-lg {
  background: #000;
  border-color:#000;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #084407;
}

/* footer */
.social-circle li a {
	background:#000;
}

a.scrollup{
	background:#084407;
}
