<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">

<head>
  <!-- BASICS -->
  <meta charset="utf-8">
  <title>Online bus reservation system</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'bus/js/rs-plugin/css/settings.css' %}" media="screen">
  <link rel="stylesheet" type="text/css" href="{% static 'bus/css/isotope.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'bus/css/flexslider.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'bus/js/fancybox/jquery.fancybox.css' %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static 'bus/css/bootstrap.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700">

  <link rel="stylesheet" href="{% static 'bus/css/style.css' %}">
  <!-- skin -->
  <link rel="stylesheet" href="{% static 'bus/skin/default.css' %}">
  <!-- =======================================================
    Theme Name: Vlava
    Theme URL: https://bootstrapmade.com/vlava-free-bootstrap-one-page-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->

</head>

<body>
<!--<img src="{% static 'bus/img/intro-background.jpg' %}">-->
  <section id="header" class="appear">
  <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,0.3);">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      	  <span class="fa fa-bars color-white"></span>
        </button>
        <div class="navbar-logo">
          <a href="index.html"><img data-0="width:155px;" data-300=" width:120px;" src="{% static 'bus/img/logo.png' %}" alt=""></a>
        </div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
          <li class="active"><a href="">Home</a></li>
          <li><a href="#section-about">About</a></li>
          <li><a href="#section-works">potopolio</a></li>
          <li><a href="#section-contact">Contact</a></li>
          <li><a href="#">Loginpage</a></li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </div>

  <section id="intro">
    <div class="intro-content">
      <h2>Welcome to our page!</h2>
      <h3>Book Online Bus Tickets..</h3>
      <div>
        <a href="login" class="btn-get-started scrollto">Book Now</a>
      </div>
    </div>
  </section>
</section>


  <!-- services -->
  <section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">
      <div class="row mar-bot40">
        <div class="col-lg-6">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-mobile">mobile</a>
            </div>
          </div>
          <h3 class="text-bold">Smart Dropping</h3>
          <p style="text-align:justify">When you are traveling to a new city, use the mobile app to get suggestions
            from us on which dropping point would be the best for you..</p>

          <div class="clear"></div>
        </div>

        <div class="col-lg-6">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-location">location</a>
            </div>
          </div>
          <h3 class="text-bold">Smart Tracking</h3>
          <p style="text-align:justify">By using track my bus feature you and your family members can see
            the exact location of the bus on the live map.
            You can now stay connected with your loved one throughout your journey! </p>

          <div class="clear"></div>
        </div>
      </div>
      <div class="row mar-bot40">
        <div class="col-lg-6">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-support">support</a>
            </div>
          </div>
          <h3 class="text-bold">Comfort and services</h3>
          <p style="text-align:justify">Being inside a bus is not really different from being inside a plane.
            The vehicles are no longer old and rusty but are mostly equipped with comfortable seats and enough leg space.</p>

          <div class="clear"></div>
        </div>

        <div class="col-lg-6">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-archive">archive</a>
            </div>
          </div>
          <h3 class="text-bold">Book your ticket</h3>
          <p style="text-align:justify">You can also add a phone number of a family member or friend on the mobile
            we will send the bus number and tracking link to you and you can track the bus on your mobile itself!</p>

          <div class="clear"></div>
        </div>
      </div>
    </div>
  </section>




  <!-- about -->
  <section id="section-about" class="section appear clearfix">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">BookMyBusTicket</h2>
            <p>BookMyBusTicket is a online bus reservation system.
              You can now choose your bus and your seat easily, have the tickets delivered to your mail and online payments.
                Try BookMyBusTicket experience today. .</p>
          </div>
        </div>
      </div>

<!--      <div class="row align-center mar-bot40">-->
<!--        <div class="col-md-3">-->
<!--          <div class="team-member">-->
<!--            <figure class="member-photo"><img src="img/team/member1.jpg" alt=""></figure>-->
<!--            <div class="team-detail">-->
<!--              <h4>Jason Doe</h4>-->
<!--              <span>User experiences</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--          <div class="team-member">-->
<!--            <figure class="member-photo"><img src="img/team/member2.jpg" alt=""></figure>-->
<!--            <div class="team-detail">-->
<!--              <h4>Timothy Clark</h4>-->
<!--              <span>Web developer</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--          <div class="team-member">-->
<!--            <figure class="member-photo"><img src="img/team/member3.jpg" alt=""></figure>-->
<!--            <div class="team-detail">-->
<!--              <h4>Vicky Tan</h4>-->
<!--              <span>Web designer</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--          <div class="team-member">-->
<!--            <figure class="member-photo"><img src="img/team/member4.jpg" alt=""></figure>-->
<!--            <div class="team-detail">-->
<!--              <h4>Kevin Peterson</h4>-->
<!--              <span>UI designer</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

    </div>
  </section>
  <!-- /about -->

  <!-- spacer section:stats -->
  <section id="parallax1" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row appear stats">
        <div class="col-md-3">
          <div class="align-center color-white txt-shadow">
            <div class="icon">
              <i class="fa fa-coffee fa-5x"></i>
            </div>
            <strong id="counter-coffee" class="number">500</strong><br>
            <span class="text">Black Coffee Cups</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="align-center color-white txt-shadow">
            <div class="icon">
              <i class="fa fa-music fa-5x"></i>
            </div>
            <strong id="counter-music" class="number">345</strong><br>
            <span class="text">MP3 Songs</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="align-center color-white txt-shadow">
            <div class="icon">
              <i class="fa fa-clock-o fa-5x"></i>
            </div>
            <strong id="counter-clock" class="number">1235</strong><br>
            <span class="text">Hard Minutes</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="align-center color-white txt-shadow">
            <div class="icon">
              <i class="fa fa-heart fa-5x"></i>
            </div>
            <strong id="counter-heart" class="number">478</strong><br>
            <span class="text">Lovely Clients</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- section works -->
  <section id="section-works" class="section appear clearfix">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">Portfolio</h2>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
          </div>
        </div>
      </div>

      <div class="row">
<!--        <nav id="filter" class="col-md-12 text-center">-->
<!--          <ul>-->
<!--            <li><a href="#" class="current btn btn-small" data-filter="*">All</a></li>-->
<!--            <li><a href="#" class="btn btn-small" data-filter=".webdesign">Web Design</a></li>-->
<!--            <li><a href="#" class="btn btn-small" data-filter=".photography">Photography</a></li>-->
<!--            <li><a href="#" class="btn btn-small" data-filter=".print">Print</a></li>-->
<!--          </ul>-->
<!--        </nav>-->
        <div class="col-md-12">
          <div class="row">
            <div class="portfolio-items isotopeWrapper clearfix" id="3">

              <article class="col-md-4 isotopeItem webdesign">
                <div class="portfolio-item">
                  <img src="{% static 'bus/img/portfolio/img1.jpg' %}" alt="">
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="{% static 'bus/img/portfolio/img1.jpg' %}" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem photography">
                <div class="portfolio-item">
                  <img src="{% static 'bus/img/portfolio/img2.jpg' %}" alt="">
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="{% static 'bus/img/portfolio/img2.jpg' %}" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>


              <article class="col-md-4 isotopeItem photography">
                <div class="portfolio-item">
                  <img src="{% static 'bus/img/portfolio/img3.jpg' %}" alt="">
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="{% static 'bus/img/portfolio/img3.jpg' %}" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem print">
                <div class="portfolio-item">
                  <img src="{% static 'bus/img/portfolio/img4.jpg' %}" alt="">
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="{% static 'bus/img/portfolio/img4.jpg' %}" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem photography">
                <div class="portfolio-item">
                  <img src="{% static 'bus/img/portfolio/img5.jpg' %}" alt="">
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="{% static 'bus/img/portfolio/img5.jpg' %}" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-md-4 isotopeItem webdesign">
                <div class="portfolio-item">
                  <img src="{% static 'bus/img/portfolio/img6.jpg' %}" alt="">
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Portfolio name</a></h5>
                      <a href="{% static 'bus/img/portfolio/img6.jpg' %}" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </article>

<!--              <article class="col-md-4 isotopeItem print">-->
<!--                <div class="portfolio-item">-->
<!--                  <img src="img/portfolio/img7.jpg" alt="">-->
<!--                  <div class="portfolio-desc align-center">-->
<!--                    <div class="folio-info">-->
<!--                      <h5><a href="#">Portfolio name</a></h5>-->
<!--                      <a href="img/portfolio/img7.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </article>-->

<!--              <article class="col-md-4 isotopeItem photography">-->
<!--                <div class="portfolio-item">-->
<!--                  <img src="img/portfolio/img8.jpg" alt="">-->
<!--                  <div class="portfolio-desc align-center">-->
<!--                    <div class="folio-info">-->
<!--                      <h5><a href="#">Portfolio name</a></h5>-->
<!--                      <a href="img/portfolio/img8.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </article>-->

<!--              <article class="col-md-4 isotopeItem print">-->
<!--                <div class="portfolio-item">-->
<!--                  <img src="img/portfolio/img9.jpg" alt="">-->
<!--                  <div class="portfolio-desc align-center">-->
<!--                    <div class="folio-info">-->
<!--                      <h5><a href="#">Portfolio name</a></h5>-->
<!--                      <a href="img/portfolio/img9.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </article>-->
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="clients" class="section clearfix bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-2 align-center">
              <img alt="logo" src="{% static 'bus/img/clients/logo1.png' %}">
            </div>

            <div class="col-sm-2 align-center">
              <img alt="logo" src="{% static 'bus/img/clients/logo2.png' %}">
            </div>

            <div class="col-sm-2 align-center">
              <img alt="logo" src="{% static 'bus/img/clients/logo3.png' %}">
            </div>

            <div class="col-sm-2 align-center">
              <img alt="logo" src="{% static 'bus/img/clients/logo4.png' %}">
            </div>

            <div class="col-sm-2 align-center">
              <img alt="logo" src="{% static 'bus/img/clients/logo5.png' %}">
            </div>
            <div class="col-sm-2 align-center">
              <img alt="logo" src="{% static 'bus/img/clients/logo6.png' %}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- map -->
  <section id="section-map" class="clearfix">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>

  <!-- contact -->
  <section id="section-contact" class="section appear clearfix">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">Contact us</h2>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="cform" id="contact-form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" class="contactForm">

              <div class="field your-name form-group">
                <input type="text" name="name" placeholder="Your Name" class="cform-text" size="40" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validation"></div>
              </div>
              <div class="field your-email form-group">
                <input type="text" name="email" placeholder="Your Email" class="cform-text" size="40" data-rule="email" data-msg="Please enter a valid email">
                <div class="validation"></div>
              </div>
              <div class="field subject form-group">
                <input type="text" name="subject" placeholder="Subject" class="cform-text" size="40" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                <div class="validation"></div>
              </div>

              <div class="field message form-group">
                <textarea name="message" class="cform-textarea" cols="40" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validation"></div>
              </div>

              <div class="send-btn">
                <input type="submit" value="SEND MESSAGE" class="btn btn-theme">
              </div>

            </form>
          </div>
        </div>
        <!-- ./span12 -->
      </div>

    </div>
  </section>

<!--  <section id="footer" class="section footer">-->
<!--    <div class="container">-->
<!--      <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">-->
<!--        <div class="col-sm-12 align-center">-->
<!--          <ul class="social-network social-circle">-->
<!--            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>-->
<!--            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>-->
<!--            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>-->
<!--            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>-->
<!--            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row align-center mar-bot20">-->
<!--        <ul class="footer-menu">-->
<!--          <li><a href="#">Home</a></li>-->
<!--          <li><a href="#">About us</a></li>-->
<!--          <li><a href="#">Privacy policy</a></li>-->
<!--          <li><a href="#">Get in touch</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="row align-center copyright">-->
<!--        <div class="col-sm-12">-->
<!--          <p>Copyright &copy; All rights reserved</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="credits">-->
<!--        &lt;!&ndash;-->
<!--          All the links in the footer should remain intact.-->
<!--          You can delete the links only if you purchased the pro version.-->
<!--          Licensing information: https://bootstrapmade.com/license/-->
<!--          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Vlava-->
<!--        &ndash;&gt;-->
<!--        Designed by <a href="https://bootstrapmade.com/">BootstrapMade.com</a>-->
<!--      </div>-->
<!--    </div>-->

<!--  </section>-->
<section id="footer" class="section footer">
  <footer class="page-footer">
  <div class="container" style="text-align:center">
    <div class="row" style="font-color:white">
      <div class="col-lg-4" style="text-align:left">
        <h2> Book My Ticket</h2>
        <p>Quick search</p>
        <p>Online Bookings</p>
        <p>Pay Online</p>
        <p>Hassle Free Bus Booking</p>
    </div>
      <div class="col-lg-4" style="text-align:left">
        <h2>Top Bus Routes</h2>
        <p>PKR - KTM</p>
        <p>KTM - CTN</p>
        <p>BTL - BIR</p>
        <p>DAR - PKR</p>

    </div>
      <div class="col-lg-4" style="text-align:left">
        <h2>Contact Us</h2>
       <div class="container">
         <div class="row">
           <div class="col-lg-4">
             <h3>address</h3>
           </div>
           <div class="col-lg-4">
             <p>4/119</p>
           </div>
         </div>
       </div>
    </div>
  </div>
  </div>
</footer>
</section>
  <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>

  <!-- Javascript Library Files -->
  <script src="{% static 'bus/js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
  <script src="{% static 'bus/js/jquery.js' %}"></script>
  <script src="{% static 'bus/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'bus/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bus/js/jquery.isotope.min.js' %}"></script>
  <script src="{% static 'bus/js/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'bus/js/fancybox/jquery.fancybox.pack.js' %}"></script>
  <script src="{% static 'bus/js/skrollr.min.js' %}"></script>
  <script src="{% static 'bus/js/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'bus/js/jquery.localScroll.min.js' %}"></script>
  <script src="{% static 'bus/js/stellar.js' %}"></script>
  <script src="{% static 'bus/js/jquery.appear.js' %}"></script>
  <script src="{% static 'bus/js/jquery.flexslider-min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>
  <!-- Template Main Javascript File -->
  <script src="{% static 'bus/js/main.js' %}"></script>

</body>

</html>
